body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to left bottom, lightblue, lightgray, lightblue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #e3f6ff;
  padding: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  width: 70%;
  text-align: center;
  color: #e96479;
}

.heading {
  font-size: 40px;
  font-weight: 300;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
}

.joke {
  font-size: 22px;
  font-weight: 300;
  margin: 20px;
}

.btn {
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px;
  background: #e96479;
  color: #e3f6ff;
  text-transform: uppercase;
  width: 250px;
}

.btn:hover {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
  background: #e3f6ff;
  color: #e96479;
}
