.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.container {
  border: 1px solid black;
  width: 300px;
  height: 100px;
  background: lightskyblue;
  position: relative;
}

.image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
}
