body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #497174;
  font-family: cursive;
  font-size: 20px;
}

.mouse-event {
  border: solid 1px lightgray;
  margin: 40px;
  min-width: 180px;
  position: relative;
  min-height: 100px;
  text-align: center;
  padding: 10px 30px;
}
